.main {
  .container {
    width: 1440px;

    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.img-container {
  width: 1440px;
  border: 1px solid red;
  height: 600px;
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
  }
  img {
    width: 1440px;
    position: absolute;
    height: 600px;
  }
}
