.about-section {
  padding-bottom: 100px;
}
.section-container {
  padding: 10px 1rem;
  display: flex;
  width: 100%;
}

.item1 {
  width: 30%;
  height: 300px;

  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  font-size: 1.5rem;
}
.hire {
  border: none;
}
.bio div {
  font-size: 2rem;
}

.item2 {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .section-container {
    flex-direction: column;
  }
  .item1 {
    width: 100%;
  }
  .item2 {
    width: 100%;
  }
}
